body {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

:root {
    --accent-color-accent: #2196F3;
    --title-text-color: #212121;
    --main-text-color: #757575;
    --main-font: 'Roboto', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --background-color: #F5F4FA;
    --background-color-light: #E5E5E5;
    --background-color-dark: #2F303A;
    --focus-color-text: #FFFFFF;
    --address__text-link-color-footer: rgba(255, 255, 255, 0.6);
    --border-color: #EEEEEE;
    --border-color-header: #ECECEC;
    --color-icons: #AFB1B8;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* header */

.page-header {
    border-bottom: 1px solid var(--border-color-header);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    margin-bottom: 50px;
    text-align: center;
    font-family: var(---main-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
}

header .container {
    display: flex;
}

/* nav */

.nav {
    display: inline-flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__list--left {
    margin-left: 93px;
}

.nav__list li:not(:first-child) {
    margin-left: 50px;
}

.nav span {
    color: var(--title-text-color);
}

.nav__item {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item-bottom-border::after {
    opacity: 1;
    position: absolute;
    bottom: -4px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color-accent);
}

.nav__item:hover, .nav__item:focus {
    color: var(--accent-color-accent);
}

.nav__item span {
    color: var(--accent-color-accent);
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contacts__left {
    margin-left: auto;
}

.contacts__item {
    display: flex;
    margin-left: 50px;
}

.contacts__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.contacts__icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.logo {
    display: inline-block;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color-accent);
}

.link {
    display: flex;
    text-decoration: none;
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
    color: var(--accent-color-accent);
}

header .logo {
    padding: 26px 0;
}

header .link, .nav__item {
    display: flex;
    padding: 32px 0;
    align-items: center;
}

/* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--background-color-dark);
    display: flex;
}

.footer span {
    color: var(--background-color);
}

.footer .logo {
    display: flex;
    margin-bottom: 20px;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link {
    color: var(--address__text-link-color-footer);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address__text {
    margin-bottom: 9px;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--focus-color-text);
}

.footer-form {
    margin-top: 20px;
}

.footer-form__btn:after {
    content: "";
    background-image: url(../images/icons/icon-send.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.footer-form__btn {
    justify-content: center;
    display: inline-flex;
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--accent-color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--focus-color-text);
}

.footer-form__input {
    outline: none;
    color: var(--focus-color-text);
    padding: 15px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    margin-right: 12px;
}

.footer-soc__text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--focus-color-text);
}

.footer-socials {
    display: flex;
    align-items: baseline;
}

.footer-soc {
    margin-left: 70px;
}

.contacts-form {
    margin-left: 94px;
}

/* main secion2 */

.our-advantages__list {
    display: flex;
    justify-content: space-between;
}

.our-advantages__item {
    width: 270px;
}

.our-advantages__bgr {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/icons/bgradve.svg);
    height: 120px;
}

.caption {
    padding-top: 0;
}

.caption__list {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.caption__tittle {
    text-transform: uppercase;
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--focus-color-text);
}

.caption__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0%;
    text-align: center;
}

.our-team {
    background-color: var(--background-color);
}

.our-team__list {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.our-team__item {
    width: 270px;
    background: var(--focus-color-text);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
}

.our-team__wrapertext {
    padding: 30px;
}

.our-team__title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}

.our-team__subtitle {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-text-color)
}

/* main section 1 */

.main {
    margin: 0 auto;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//images/bgdimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-backround {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1600px;
}

.main-backround__title {
    max-width: 696px;
    text-align: center;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--focus-color-text);
}

/*  кнопка Заказать услугу */

.main-backround__button {
    padding: 0;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--focus-color-text);
    background-color: var(--accent-color-accent);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
}

/* секция  примеры наших работ */

.our-advantages__icon {
    display: block;
    width: 70px;
    height: 76px;
}

.our-advantages__title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.our-advantages__subtitle {
    text-align: left;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden
}

/* секция постоянные клиенты */

.clients__title {
    display: block;
    text-align: center;
    font-family: var(---main-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
}

.clients__list {
    display: flex;
    justify-content: space-between;
}

.clients__list--top {
    margin-top: 50px;
}

.clients__item {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--color-icons);
    box-sizing: border-box;
    border-radius: 4px;
    fill: var(--color-icons);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus {
    fill: var(--accent-color-accent);
    border: 1px solid var(--accent-color-accent)
}

.our-team__icon-list {
    display: flex;
    justify-content: space-between;
}

.our-team__icon-list--top {
    margin-top: 16px;
}

.our-team__icon {
    width: 20px;
    height: 20px;
}

.clients__icons {
    width: 106px;
    height: 60px;
}

.our-team__link {
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    display: flex;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 50%;
    fill: var(--color-icons);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__link:hover, .our-team__link:focus {
    background-color: var(--accent-color-accent);
    fill: var(--focus-color-text)
}

.footer .our-team__link {
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    display: flex;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 50%;
    fill: var(--focus-color-text);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .our-team__link:hover, .footer .our-team__link:focus {
    background-color: var(--accent-color-accent)
}

/* секция  примеры наших работ */

.list-pic {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
}

.list-pic__innertext {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
    border: 1px solid var(--border-color);
    border-top: none;
}

.list-pic__title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.list-pic__subtitle {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.list-pic__wrapper {
    position: relative;
    overflow: hidden;
}

.list-pic__items {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
    background: var(--focus-color-text);
    flex-direction: column;
}

.list-pic__text {
    position: absolute;
    transform: translateY(0);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--focus-color-text);
    width: 370px;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    background: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-pic__link:hover .list-pic__text, .list-pic__link:focus .list-pic__text {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
    transform: translateY(-100%);
}

.list-pic__link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-pic__link:hover, .list-pic__link:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* portfolio batton */

.btn-list>:first-child button {
    background: var(--accent-color-accent);
    border: none;
    color: var(--focus-color-text);
}

.btn-list {
    display: flex;
    justify-content: center;
}

.btn-list--bottom {
    margin-bottom: 50px;
}

.btn-list li:not(:last-child) {
    margin-right: 8px;
}

.btn-list__item {
    padding: 6px 22px;
    display: flex;
    background: var(--background-color);
    color: var(--title-text-color);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list__item:hover, .btn:focus {
    background-color: var(--accent-color-accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--focus-color-text);
    border: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--focus-color-text);
    width: 528px;
    max-height: 100vh;
    overflow: auto;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
    padding: 40px;
}

.modal__btn {
    margin-top: 30px;
    border: none;
    width: 200px;
    height: 50px;
    color: var(--focus-color-text);
    background-color: var(--accent-color-accent);
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__tittle {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.button-close__icon {
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.button-close:hover .button-close__icon, .button-close:focus .button-close__icon {
    fill: var(--accent-color-accent);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.form {
    position: relative;
    padding: 40px;
}

.form__item {
    position: relative;
    margin-bottom: 10px;
}

.form__input {
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 41px;
    padding-left: 42px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus+.form__icon, .form__input:hover+.form__icon {
    fill: var(--accent-color-accent);
}

.form__input:focus, .form__input:hover, .form__textarea:hover, .form__textarea:focus {
    border: 1px solid var(--accent-color-accent);
    outline: none;
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.form__icon:hover {
    fill: var(--accent-color-accent);
}

.form__textarea {
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 120px;
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form__label {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.form__item a {
    text-decoration: underline;
    color: var(--accent-color-accent);
}

.form__checkbox-label::before {
    display: inline-block;
    content: "";
    background-image: url(../images/icons/Vector-border.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 15px;
    cursor: pointer;
    margin-right: 7px;
    position: relative;
    top: 2px;
}

.form__checkbox-input:checked+.form__checkbox-label::before {
    display: inline-block;
    content: "";
    background-image: url(../images/icons/choise.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--accent-color-accent);
    border-radius: 2px;
    width: 16px;
    height: 15px;
    cursor: pointer;
    margin-right: 7px;
}

.form__item-submit {
    text-align: center;
}