.main {
    margin: 0 auto;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//images/bgdimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.main-backround {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1600px;
}

.main-backround__title {
    max-width: 696px;
    text-align: center;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--focus-color-text);
}


.main-backround__button {
    padding: 0;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--focus-color-text);
    background-color: var(--accent-color-accent);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
}
